@import 'styles/mixins.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }  

  .content {
    font-size: 1.2rem;
  }

  .link {
    margin: 10px auto;
    width: fit-content;
    font-size: 1.2rem;
  }
}